Repository claranet/terraform-signalfx-detectors, pull requests merged in 2020-11, with the labels that each got.

#162 add tomcat detectors
  database/cassandra/README.md
  middleware/tomcat/README.md
  middleware/tomcat/common-locals.tf
  middleware/tomcat/common-modules.tf
  middleware/tomcat/common-variables.tf
  middleware/tomcat/common-versions.tf
  middleware/tomcat/detectors-tomcat.tf
  middleware/tomcat/outputs.tf
  middleware/tomcat/variables.tf
Labels: detectors, new feature

#173 remove not relevant query and request cache evictions
  database/elasticsearch/detectors-elasticsearch.tf
  database/elasticsearch/outputs.tf
  database/elasticsearch/variables.tf
Labels: detectors, enhancement

#177 #109 filter ci workflow using paths
  .github/workflows/generator.yml
  .github/workflows/main.yml
Labels: CI, enhancement

#172 #169 add heartbeat detector for varnish
  middleware/varnish/detectors-varnish.tf
  middleware/varnish/outputs.tf
  middleware/varnish/variables.tf
Labels: detectors, new feature

#170 memcached: bootstrap detectors
  modules/memcached/README.md
  modules/memcached/common-locals.tf
  modules/memcached/common-modules.tf
  modules/memcached/common-variables.tf
  modules/memcached/common-versions.tf
  modules/memcached/detectors-memcached.tf
  modules/memcached/outputs.tf
  modules/memcached/variables.tf
Labels: detectors, new feature

#175 #156 various improvements for generator
  .github/workflows/generator.yml
  scripts/templates/detector_res.tf.j2
  scripts/templates/detector_vars.tf.j2
  scripts/templates/values.yaml
Labels: enhancement, templating

#163 #123 [Azure] CosmosDB capacity (RUs usage) detector
  cloud/azure/cosmos-db/detectors-cosmosdb.tf
  cloud/azure/cosmos-db/outputs.tf
  cloud/azure/cosmos-db/variables.tf
Labels: detectors, new feature

#167 [Azure] Service bus throttling detector
  cloud/azure/service-bus/detectors-service-bus.tf
  cloud/azure/service-bus/outputs.tf
  cloud/azure/service-bus/variables.tf
Labels: detectors, new feature

#178 improve http detectors:
  network/http/detectors-http.tf
  network/http/variables.tf
Labels: detectors, enhancement

#181 #109 update setup-terraform to v1.2.1 to fix CVE-2020-15228
  .github/workflows/generator.yml
  .github/workflows/main.yml
Labels: CI, bug

#174 #120 add mongo detectors
  modules/database-mongo/README.md
  modules/database-mongo/common-locals.tf
  modules/database-mongo/common-modules.tf
  modules/database-mongo/common-variables.tf
  modules/database-mongo/common-versions.tf
  modules/database-mongo/detectors-mongo.tf
  modules/database-mongo/outputs.tf
  modules/database-mongo/variables.tf
Labels: detectors, new feature

#189 haproxy: do not alert on backend limit by default
  middleware/haproxy/detectors-haproxy.tf
Labels: detectors

#179 Readme, templating, wiki and contribution
  .github/workflows/doc.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Labels: documentation, enhancement, new feature
