Repository claranet/terraform-signalfx-detectors, pull requests merged in 2020-10, with the labels that each got.

#150 #146 network/http add lasting for code check
  network/http/README.md
  network/http/detectors-http.tf
  network/http/variables.tf
Labels: detectors, enhancement

#145 [Azure] Azure VM scalesets detectors
  cloud/azure/virtual-machine-scaleset/README.md
  cloud/azure/virtual-machine-scaleset/common-locals.tf
  cloud/azure/virtual-machine-scaleset/common-variables.tf
  cloud/azure/virtual-machine-scaleset/detectors-virtual-machine-scaleset.tf
  cloud/azure/virtual-machine-scaleset/modules.tf
  cloud/azure/virtual-machine-scaleset/outputs.tf
  cloud/azure/virtual-machine-scaleset/variables.tf
  cloud/azure/virtual-machine-scaleset/versions.tf
Labels: detectors, enhancement

#148 #147 add mysql slave io status
  database/mysql/README.md
  database/mysql/detectors-mysql.tf
  database/mysql/outputs.tf
  database/mysql/variables.tf
Labels: detectors, enhancement

#154 #115 Cleanup Azure PostgreSQL detector
  cloud/azure/postgresql/detectors-postgresql.tf
Labels: detectors

#152 Cassandra detectors
  database/cassandra/README.md
  database/cassandra/common-locals.tf
  database/cassandra/common-variables.tf
  database/cassandra/detectors-cassandra.tf
  database/cassandra/modules.tf
  database/cassandra/outputs.tf
  database/cassandra/variables.tf
  database/cassandra/versions.tf
Labels: detectors, enhancement

#157 #156 jinja generator for basic thresholds detector
  scripts/templates/README.md
  scripts/templates/detector_res.tf.j2
  scripts/templates/detector_vars.tf.j2
  scripts/templates/heartbeat/simple.yaml
  scripts/templates/threshold/double.yaml
  scripts/templates/threshold/simple.yaml
  scripts/templates/values.yaml
Labels: enhancement, templating

#153 [Azure] Storage account capacity detectors
  cloud/azure/storage-account-capacity/README.md
  cloud/azure/storage-account-capacity/common-locals.tf
  cloud/azure/storage-account-capacity/common-variables.tf
  cloud/azure/storage-account-capacity/detectors-azure-storage.tf
  cloud/azure/storage-account-capacity/modules.tf
  cloud/azure/storage-account-capacity/outputs.tf
  cloud/azure/storage-account-capacity/variables.tf
  cloud/azure/storage-account-capacity/versions.tf
Labels: detectors, enhancement

#159 use new native monitors for prometheus based ones
  container/kubernetes/ingress/nginx/README.md
  container/kubernetes/velero/README.md
Labels: detectors, enhancement

#151 Genericjmx detectors
  middleware/genericjmx/README.md
  middleware/genericjmx/common-locals.tf
  middleware/genericjmx/common-variables.tf
  middleware/genericjmx/detectors-genericjmx.tf
  middleware/genericjmx/modules.tf
  middleware/genericjmx/outputs.tf
  middleware/genericjmx/variables.tf
  middleware/genericjmx/versions.tf
Labels: detectors, enhancement

#139 #138 Add MPL license
  LICENSE
Labels: documentation

#141 #140 Add CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation

#137 #136 Add issue templates
  .github/ISSUE_TEMPLATE/bug-report-on-detectors.md
  .github/ISSUE_TEMPLATE/bug-report-on-templating.md
  .github/ISSUE_TEMPLATE/documentation-enhancement.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/improve-existing-detectors.md
  .github/ISSUE_TEMPLATE/new-detector.md
Labels: documentation, enhancement

#166 [Azure] CosmosDB detectors - cleanup
  cloud/azure/cosmos-db/detectors-cosmosdb.tf
Labels: detectors, enhancement

#168 add readme for aws ecs
  cloud/aws/ecs/cluster/README.md
  cloud/aws/ecs/service/README.md
Labels: documentation
