Repository claranet/terraform-signalfx-detectors, pull requests merged in 2021-08, with the labels that each got.

#299 Fix Postgresql resource type name
  modules/integration_azure-postgresql/detectors-postgresql.tf
Labels: bug, detectors

#317 generator: add append_condition field to rule
  modules/smart-agent_systemd-services/conf/01-systemd-services.yaml
  scripts/templates/detector.tf.j2
  scripts/templates/values.yaml
Labels: templating, new feature

#319 add missing max_delay to heartbeat detectors
  modules/integration_aws-beanstalk/detectors-beanstalk.tf
  modules/integration_aws-ecs-cluster/detectors-ecs-cluster.tf
  modules/integration_aws-ecs-service/detectors-ecs-service.tf
  modules/integration_aws-elasticache-common/detectors-elasticache.tf
  modules/integration_aws-elasticsearch/detectors-elasticsearch.tf
  modules/integration_aws-kinesis-firehose/detectors-kinesis-firehose.tf
  modules/integration_aws-nlb/detectors-nlb.tf
  modules/integration_aws-rds-common/detectors-rds-common.tf
  modules/integration_aws-sqs/detectors-sqs.tf
  modules/integration_aws-vpn/detectors-vpn.tf
  modules/integration_azure-app-service-plan/detectors-azure-app-service-plan.tf
  modules/integration_azure-application-gateway/detectors-app-gateway.tf
  modules/integration_azure-cosmos-db/detectors-cosmosdb.tf
  modules/integration_azure-functions/detectors-functions.tf
  modules/integration_azure-load-balancer/detectors-load-balancer.tf
  modules/integration_azure-mysql/detectors-mysql.tf
  modules/integration_azure-postgresql/detectors-postgresql.tf
  modules/integration_azure-redis/detectors-azure-redis.tf
  modules/integration_azure-service-bus/detectors-service-bus.tf
  modules/integration_azure-sql-database/detectors-sql-database.tf
  modules/integration_azure-sql-elastic-pool/detectors-sql-elasticpool.tf
  modules/integration_azure-stream-analytics/detectors-stream-analytics.tf
  modules/integration_azure-virtual-machine-scaleset/detectors-virtual-machine-scaleset.tf
  modules/integration_azure-virtual-machine/detectors-virtual-machine.tf
  modules/integration_gcp-cloud-sql-common/detectors-cloud-sql-common.tf
  modules/integration_gcp-compute-engine/detectors-gce-instance.tf
  modules/integration_gcp-pubsub-subscription/detectors-subscription.tf
  modules/integration_newrelic-apm/detectors-new-relic.tf
  modules/smart-agent_kubernetes-apiserver/detectors-k8s-cluster.tf
Labels: bug, detectors

#321 improve original detectors config after conversion to generator
  docs/severity.md
  modules/integration_aws-alb/conf/00-heartbeat.yaml
  modules/integration_aws-alb/variables-gen.tf
  modules/integration_aws-elasticache-memcached/README.md
  modules/integration_aws-elasticache-memcached/conf/02-hit-ratio.yaml
  modules/integration_aws-elasticache-memcached/detectors-gen.tf
  modules/integration_aws-elasticache-memcached/variables-gen.tf
  modules/integration_aws-elasticache-redis/README.md
  modules/integration_aws-elasticache-redis/conf/01-hit-ratio.yaml
  modules/integration_aws-elasticache-redis/conf/04-commands-min.yaml
  modules/integration_aws-elasticache-redis/detectors-gen.tf
  modules/integration_aws-elasticache-redis/variables-gen.tf
  modules/integration_aws-elb/conf/00-heartbeat.yaml
  modules/integration_aws-elb/variables-gen.tf
  modules/integration_aws-lambda/conf/01-errors-percentage.yaml
  modules/integration_aws-lambda/variables-gen.tf
  modules/smart-agent_http/conf/04-content-length.yaml
  modules/smart-agent_http/variables-gen.tf
  modules/smart-agent_kubernetes-common/conf/01-hpa-scale-capacity.yaml
  modules/smart-agent_kubernetes-common/conf/04-termination.yaml
  modules/smart-agent_kubernetes-common/variables-gen.tf
  modules/smart-agent_nginx-ingress/conf/01-latency.yaml
  modules/smart-agent_nginx-ingress/conf/02-lb-5xx.yaml
  modules/smart-agent_nginx-ingress/conf/03-lb-4xx.yaml
  modules/smart-agent_nginx-ingress/variables-gen.tf
  modules/smart-agent_rabbitmq-queue/conf/01-messages-ready.yaml
  modules/smart-agent_rabbitmq-queue/conf/02-messages-unacknowledged.yaml
  modules/smart-agent_rabbitmq-queue/conf/03-messages-ack-rate.yaml
  modules/smart-agent_rabbitmq-queue/conf/04-consumer-use.yaml
  modules/smart-agent_rabbitmq-queue/variables-gen.tf
Labels: enhancement, detectors

#320 generator: rewrite smart-agent_apache, cassandra with generator
  modules/smart-agent_apache/README.md
  modules/smart-agent_apache/conf/00-heartbeat.yaml
  modules/smart-agent_apache/conf/01-workers.yaml
  modules/smart-agent_apache/detectors-gen.tf
  modules/smart-agent_apache/outputs.tf
  modules/smart-agent_apache/variables-gen.tf
  modules/smart-agent_apache/variables.tf
  modules/smart-agent_cassandra/README.md
  modules/smart-agent_cassandra/conf/00-heartbeat.yaml
  modules/smart-agent_cassandra/conf/01-read-latency-p99.yaml
  modules/smart-agent_cassandra/conf/02-write-latency-p99.yaml
  modules/smart-agent_cassandra/conf/03-read-latency-real-time.yaml
  modules/smart-agent_cassandra/conf/04-write-latency-real-time.yaml
  modules/smart-agent_cassandra/conf/05-transactional-read-latency-p99.yaml
  modules/smart-agent_cassandra/conf/06-transactional-write-latency-p99.yaml
  modules/smart-agent_cassandra/conf/07-transactional-read-latency-real-time.yaml
  modules/smart-agent_cassandra/conf/08-transactionl-write-latency-real-time.yaml
  modules/smart-agent_cassandra/conf/09-storage-exceptions.yaml
  modules/smart-agent_cassandra/detectors-cassandra.tf
  modules/smart-agent_cassandra/detectors-gen.tf
  modules/smart-agent_cassandra/outputs.tf
  modules/smart-agent_cassandra/variables-gen.tf
  modules/smart-agent_cassandra/variables.tf
Labels: enhancement, detectors

#323 cassandra: fix lantencies and improve errors
  modules/smart-agent_cassandra/conf/01-read-latency-p99.yaml
  modules/smart-agent_cassandra/conf/02-write-latency-p99.yaml
  modules/smart-agent_cassandra/conf/03-read-latency-real-time.yaml
  modules/smart-agent_cassandra/conf/04-write-latency-real-time.yaml
  modules/smart-agent_cassandra/conf/05-transactional-read-latency-p99.yaml
  modules/smart-agent_cassandra/conf/06-transactional-write-latency-p99.yaml
  modules/smart-agent_cassandra/conf/07-transactional-read-latency-real-time.yaml
  modules/smart-agent_cassandra/conf/08-transactionl-write-latency-real-time.yaml
  modules/smart-agent_cassandra/conf/09-storage-exceptions.yaml
  modules/smart-agent_cassandra/variables-gen.tf
Labels: enhancement, detectors

#324 #301 fix perpetual diff on tags
  common/stack/versions.tf
  examples/stack/versions.tf
  examples/usage/versions.tf
Labels: bug, detectors
