Repository claranet/terraform-signalfx-detectors, pull requests merged in 2021-04, with the labels that each got.

#268 Detectors md
  docs/severity.md
  modules/smart-agent_mdadm/README.md
  modules/smart-agent_mdadm/common-locals.tf
  modules/smart-agent_mdadm/common-modules.tf
  modules/smart-agent_mdadm/common-variables.tf
  modules/smart-agent_mdadm/common-versions.tf
  modules/smart-agent_mdadm/conf/01-disk-failed.yaml
  modules/smart-agent_mdadm/conf/02-disk-missing.yaml
  modules/smart-agent_mdadm/conf/readme.yaml
  modules/smart-agent_mdadm/detectors-gen.tf
  modules/smart-agent_mdadm/outputs.tf
  modules/smart-agent_mdadm/variables-gen.tf
Labels: detectors, new feature

#272 integration_gcp-compute-engine: fix disk_throttled_bps & disk_throttl…
  modules/integration_gcp-compute-engine/README.md
  modules/integration_gcp-compute-engine/conf/readme.yaml
  modules/integration_gcp-compute-engine/variables.tf
Labels: bug, detectors

#274 generator: lasting is per rule only and mandatory like threshold
  modules/integration_azure-firewall/variables-gen.tf
  modules/integration_azure-functions/variables-gen.tf
  scripts/templates/variables.tf.j2
Labels: bug, templating

#277 remove copied postgresql from redis readme
  modules/smart-agent_redis/README.md
  modules/smart-agent_redis/conf/readme.yaml
Labels: documentation

#271 add detectors for hpa
  docs/severity.md
  modules/smart-agent_kubernetes-common/README.md
  modules/smart-agent_kubernetes-common/conf/01-hpa-scale-capacity.yaml
  modules/smart-agent_kubernetes-common/conf/readme.yaml
  modules/smart-agent_kubernetes-common/detectors-gen.tf
  modules/smart-agent_kubernetes-common/outputs.tf
  modules/smart-agent_kubernetes-common/variables-gen.tf
Labels: detectors, new feature

#275 Integration Azure Event Hub fixes
  modules/integration_azure-event-hub/README.md
  modules/integration_azure-event-hub/conf/01-capacity-throttling.yaml
  modules/integration_azure-event-hub/conf/readme.yaml
  modules/integration_azure-event-hub/detectors-gen.tf
  modules/integration_azure-event-hub/variables-gen.tf
Labels: detectors, enhancement
