Repository claranet/terraform-signalfx-detectors, pull requests merged in 2021-03, with the labels that each got.

#253 Add runbooks and tips on APIM detectors
  modules/integration_azure-api-management-service/detectors-api_management_service.tf
  modules/integration_azure-api-management-service/variables.tf
Labels: bug, detectors

#254 Remove fill from pod_phase_status
  modules/smart-agent_kubernetes-common/detectors-kubernetes-common.tf
Labels: detectors, enhancement

#259 kubernetes_volumes: filter out empty volume_type
  modules/smart-agent_kubernetes-volumes/detectors-kubernetes-volumes.tf
Labels: bug, detectors

#260 improve auto ref with init-stack for human
  .wordlist.txt
  Makefile
  examples/stack/README.md
Labels: documentation, enhancement

#251 enhance readmes for k8s common, velero and ingress
  modules/smart-agent_kubernetes-common/README.md
  modules/smart-agent_kubernetes-common/conf/readme.yaml
  modules/smart-agent_kubernetes-velero/README.md
  modules/smart-agent_kubernetes-velero/conf/readme.yaml
  modules/smart-agent_nginx-ingress/README.md
  modules/smart-agent_nginx-ingress/conf/readme.yaml
Labels: documentation, enhancement

#252 aws_es status detector must wait for transformation time
  modules/integration_aws-elasticsearch/variables.tf
Labels: bug, detectors

#263 AZ-471: Create Azure Firewall detectors
  docs/severity.md
  modules/integration_azure-firewall/README.md
  modules/integration_azure-firewall/common-locals.tf
  modules/integration_azure-firewall/common-variables.tf
  modules/integration_azure-firewall/common-versions.tf
  modules/integration_azure-firewall/conf/00-heartbeat.yaml
  modules/integration_azure-firewall/conf/01-snat.yaml
  modules/integration_azure-firewall/conf/02-throughput.yaml
  modules/integration_azure-firewall/conf/03-health-status.yaml
  modules/integration_azure-firewall/conf/readme.yaml
  modules/integration_azure-firewall/detectors-gen.tf
  modules/integration_azure-firewall/modules.tf
  modules/integration_azure-firewall/outputs.tf
  modules/integration_azure-firewall/variables-gen.tf
Labels: detectors, new feature

#266 integration_gcp-load-balancing: add note about latency & websocket
  modules/integration_gcp-load-balancing/README.md
  modules/integration_gcp-load-balancing/conf/readme.yaml
Labels: detectors, documentation, enhancement
