Repository claranet/terraform-signalfx-detectors, pull requests merged in 2021-11, with the labels that each got.

#347 clean tmp files when lint fails
  scripts/module/lint.sh
Labels: enhancement, CI

#341 add systemd-timers module
  docs/severity.md
  modules/smart-agent_systemd-timers/README.md
  modules/smart-agent_systemd-timers/common-filters.tf
  modules/smart-agent_systemd-timers/common-locals.tf
  modules/smart-agent_systemd-timers/common-modules.tf
  modules/smart-agent_systemd-timers/common-variables.tf
  modules/smart-agent_systemd-timers/common-versions.tf
  modules/smart-agent_systemd-timers/conf/00-heartbeat.yaml
  modules/smart-agent_systemd-timers/conf/01-execution-delay.yaml
  modules/smart-agent_systemd-timers/conf/02-last-execution-state.yaml
  modules/smart-agent_systemd-timers/conf/readme.yaml
  modules/smart-agent_systemd-timers/detectors-gen.tf
  modules/smart-agent_systemd-timers/outputs.tf
  modules/smart-agent_systemd-timers/tags.tf
  modules/smart-agent_systemd-timers/variables-gen.tf
Labels: detectors, new feature

#349 fix storage unit scaling
  modules/integration_aws-efs/conf/01-used-space.yaml
  modules/integration_aws-efs/detectors-gen.tf
  modules/integration_aws-efs/variables-gen.tf
  modules/integration_aws-elasticsearch/detectors-elasticsearch.tf
  modules/integration_aws-elasticsearch/variables.tf
  modules/integration_aws-rds-common/detectors-rds-common.tf
Labels: bug, detectors

#350 use right signalfx unit when available
  modules/integration_aws-alb/conf/01-latency.yaml
  modules/integration_aws-alb/detectors-gen.tf
  modules/integration_aws-alb/variables-gen.tf
  modules/integration_aws-apigateway/conf/01-latency.yaml
  modules/integration_aws-apigateway/detectors-gen.tf
  modules/integration_aws-apigateway/variables-gen.tf
  modules/integration_aws-elasticache-redis/conf/03-replication-lag.yaml
  modules/integration_aws-elasticache-redis/detectors-gen.tf
  modules/integration_aws-elasticache-redis/variables-gen.tf
  modules/integration_aws-elb/conf/01-latency.yaml
  modules/integration_aws-elb/detectors-gen.tf
  modules/integration_aws-elb/variables-gen.tf
  modules/integration_azure-datafactory/conf/04-adf-integration-available-memory.yaml
  modules/integration_azure-datafactory/detectors-gen.tf
  modules/integration_azure-datafactory/variables-gen.tf
  modules/integration_azure-storage-account-blob/conf/02-latency-e2e.yaml
  modules/integration_azure-storage-account-blob/detectors-gen.tf
  modules/integration_azure-storage-account-blob/variables-gen.tf
  modules/integration_azure-storage-account/conf/02-capacity.yaml
  modules/integration_azure-storage-account/detectors-gen.tf
  modules/integration_azure-storage-account/variables-gen.tf
  modules/integration_gcp-load-balancing/conf/03-latency-service.yaml
  modules/integration_gcp-load-balancing/conf/04-latency-bucket.yaml
  modules/integration_gcp-load-balancing/detectors-gen.tf
  modules/integration_gcp-load-balancing/variables-gen.tf
  modules/smart-agent_cassandra/conf/01-read-latency-p99.yaml
  modules/smart-agent_cassandra/conf/02-write-latency-p99.yaml
  modules/smart-agent_cassandra/conf/03-read-latency-real-time.yaml
  modules/smart-agent_cassandra/conf/04-write-latency-real-time.yaml
  modules/smart-agent_cassandra/conf/05-transactional-read-latency-p99.yaml
  modules/smart-agent_cassandra/conf/06-transactional-write-latency-p99.yaml
  modules/smart-agent_cassandra/conf/07-transactional-read-latency-real-time.yaml
  modules/smart-agent_cassandra/conf/08-transactionl-write-latency-real-time.yaml
  modules/smart-agent_cassandra/detectors-gen.tf
  modules/smart-agent_cassandra/variables-gen.tf
  modules/smart-agent_http/conf/04-content-length.yaml
  modules/smart-agent_http/detectors-gen.tf
  modules/smart-agent_http/variables-gen.tf
  modules/smart-agent_nginx-ingress/conf/01-latency.yaml
  modules/smart-agent_nginx-ingress/detectors-gen.tf
  modules/smart-agent_nginx-ingress/variables-gen.tf
Labels: enhancement, detectors

#344 allow load per cpu option to be optional
  .github/workflows/generator.yml
  modules/smart-agent_system-common/README.md
  modules/smart-agent_system-common/conf/02-load.yaml
  modules/smart-agent_system-common/conf/readme.yaml
  modules/smart-agent_system-common/detectors-gen.tf
  modules/smart-agent_system-common/variables.tf
Labels: enhancement, detectors

#345 add deadlettered messages detector to azure service bus
  docs/severity.md
  modules/integration_azure-service-bus/README.md
  modules/integration_azure-service-bus/conf/01-deadlettered-messages.yaml
  modules/integration_azure-service-bus/detectors-gen.tf
  modules/integration_azure-service-bus/outputs.tf
  modules/integration_azure-service-bus/variables-gen.tf
Labels: detectors, new feature

#353 add disabled at rule level for generator
  scripts/templates/values.yaml
  scripts/templates/variables.tf.j2
Labels: templating, new feature

#355 add sample configuration for varnish
  modules/smart-agent_varnish/README.md
  modules/smart-agent_varnish/conf/readme.yaml
Labels: documentation
