Repository claranet/terraform-signalfx-detectors, pull requests merged in 2022-01, with the labels that each got.

#358 service bus fix entityname dimension
  modules/integration_azure-service-bus/variables.tf
Labels: bug, help wanted, question, detectors

#362 Azure MySQL detectors: convert to yaml configs
  docs/severity.md
  modules/integration_azure-mysql/README.md
  modules/integration_azure-mysql/conf/00-heartbeat.yaml
  modules/integration_azure-mysql/conf/01-cpu.yaml
  modules/integration_azure-mysql/conf/02-free-storage.yaml
  modules/integration_azure-mysql/conf/03-io-conso.yaml
  modules/integration_azure-mysql/conf/04-memory.yaml
  modules/integration_azure-mysql/conf/05-replication-lag.yaml
  modules/integration_azure-mysql/detectors-gen.tf
  modules/integration_azure-mysql/detectors-mysql.tf
  modules/integration_azure-mysql/outputs.tf
  modules/integration_azure-mysql/variables-gen.tf
  modules/integration_azure-mysql/variables.tf
Labels: enhancement, detectors

#368 fix wallix bastion encryption status auto resolve
  modules/prometheus-exporter_wallix-bastion/conf/03-encryption.yaml
  modules/prometheus-exporter_wallix-bastion/detectors-gen.tf
Labels: enhancement, detectors

#371 add wallix license expiration detector
  docs/severity.md
  modules/prometheus-exporter_wallix-bastion/README.md
  modules/prometheus-exporter_wallix-bastion/conf/04-license-expiration.yaml
  modules/prometheus-exporter_wallix-bastion/detectors-gen.tf
  modules/prometheus-exporter_wallix-bastion/outputs.tf
  modules/prometheus-exporter_wallix-bastion/variables-gen.tf
Labels: detectors, new feature

#373 Doc severities module full name
  docs/severity.md
  scripts/module/gen_severity.sh
Labels: documentation, enhancement
